In [124]:
#importing dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [125]:
#importing dataset into pandas DataFrame
credit_card_dataset=pd.read_csv("creditcard.csv")

In [126]:
#showing first five rows in the from the dataset
credit_card_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [127]:
#showing last five rows
credit_card_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

### The dataset contains transactions made by credit cards in September 2013 by European cardholderons.e.

### This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

### It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

In [131]:
#some information about the dataset
credit_card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [132]:
#cheking if any missing values are present in the dataset
credit_card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [133]:
#checking the ratio between the Fraud and Normal transactions.
FNtransactions=credit_card_dataset['Class'].value_counts()
print("the ratio to normal and fraud transactions is {} : {}".format(FNtransactions[0],FNtransactions[1]))

the ratio to normal and fraud transactions is 284315 : 492

### There is lot of difference between normal and fraud transaction in the dataset means the data is unbalanced data the machine learning model cannot train properly beacuase dataset contains maximum number of  data  points are normal if we train with this it will tell fraud transaction is normal transaction.

In [135]:
#seperating the data for data analysis
legit=credit_card_dataset[credit_card_dataset.Class==0]
#legit contains the all the normal transaction
fraud=credit_card_dataset[credit_card_dataset.Class==1]
#fraud contains the all the fraud transaction

In [136]:
#printing the shapes of the both the datas
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

### Data analysis

In [138]:
#some statistical measures of legit data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [139]:
##some statistical measures of legit data
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [140]:
#checking difference of means of all legit and fraud transaction
credit_card_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Under-sampling
#### now we using the technique undersampling in this we make a new dataset which contains same number of legit and fraud transactions
#### As we know that fraud transaction are 492 so we randomly sample the 492 datapoints from the normal transactions and we combine the in to single dataaset contains unifrom number fraud and normal transactions.

In [142]:
legit_transactions=legit.sample(n=492)

In [143]:
legit_transactions

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
181993,125211.0,0.187620,-4.623559,-3.691138,-0.596662,-1.501172,-1.386077,1.557453,-0.972210,-2.144093,...,0.804799,0.253979,-1.152443,0.018244,0.206243,0.188992,-0.287139,0.108899,1159.24,0
76268,56484.0,-0.900709,1.068254,2.117854,0.261997,0.046297,-1.089863,0.947799,-0.192873,-0.663850,...,-0.144322,-0.458216,0.152763,0.884079,-0.109335,-0.874554,-0.003297,0.104046,11.33,0
114357,73450.0,-2.176761,0.548460,2.023812,-0.840986,-1.779783,0.302031,-1.181772,1.186679,-0.033040,...,-0.592038,-0.839897,0.142391,0.416188,0.274554,0.494577,-0.024522,0.017953,8.00,0
132015,79822.0,0.928292,-0.435943,1.128621,1.789094,-0.817456,0.619492,-0.455128,0.285519,1.298568,...,-0.372403,-0.791291,0.020095,0.075386,0.384489,-0.516820,0.074085,0.041586,88.90,0
187890,127730.0,-1.697455,1.859041,-1.352809,-1.463517,0.395460,-0.980257,0.643320,0.135753,0.705588,...,0.476561,1.259054,-0.015324,0.602343,-0.547154,-0.732721,-0.792648,0.102245,7.02,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20454,31052.0,1.237120,0.223850,0.166710,0.508408,-0.239961,-0.581310,-0.091961,0.021704,-0.052558,...,-0.269676,-0.860724,0.088100,-0.069941,0.196827,0.101067,-0.033784,0.015021,1.29,0
148731,90157.0,-0.208245,0.521945,-0.363266,-0.061798,1.303316,-0.803370,1.479262,-0.621777,1.147050,...,0.183736,0.821110,-0.041032,-0.836862,-0.355597,-0.189175,-0.008244,0.022492,127.69,0
87583,61748.0,0.995416,-0.377891,1.054759,1.562848,-0.587490,1.107457,-0.649817,0.486179,1.122118,...,-0.373849,-0.745475,0.011204,-0.319248,0.402406,-0.507871,0.075969,0.019434,43.78,0
206090,136062.0,1.311510,-2.875485,-1.879046,-1.110000,-1.661975,-1.213160,-0.023919,-0.579648,-1.622134,...,0.390729,0.408279,-0.395412,0.087076,-0.107968,0.011703,-0.114287,0.031252,544.50,0
180231,124438.0,-0.204871,1.136555,0.173129,-0.353954,1.135805,-0.658703,1.088071,-0.189357,-0.597564,...,-0.262162,-0.687657,-0.057038,0.598820,-0.413392,0.208127,0.102802,0.183238,0.99,0

In [144]:
#now we combine the two dataset in to single dataset by using concatenate function.
balanced_credict_card_dataset=pd.concat(objs=[legit_transactions,fraud],axis=0)

In [145]:
#seeing information about balanced_credict_card_dataset
balanced_credict_card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, 181993 to 281674
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    984 non-null    float64
 1   V1      984 non-null    float64
 2   V2      984 non-null    float64
 3   V3      984 non-null    float64
 4   V4      984 non-null    float64
 5   V5      984 non-null    float64
 6   V6      984 non-null    float64
 7   V7      984 non-null    float64
 8   V8      984 non-null    float64
 9   V9      984 non-null    float64
 10  V10     984 non-null    float64
 11  V11     984 non-null    float64
 12  V12     984 non-null    float64
 13  V13     984 non-null    float64
 14  V14     984 non-null    float64
 15  V15     984 non-null    float64
 16  V16     984 non-null    float64
 17  V17     984 non-null    float64
 18  V18     984 non-null    float64
 19  V19     984 non-null    float64
 20  V20     984 non-null    float64
 21  V21     984 non-null    float64
 22  V22     984 non-null    float64
 23  V23     984 non-null    float64
 24  V24     984 non-null    float64
 25  V25     984 non-null    float64
 26  V26     984 non-null    float64
 27  V27     984 non-null    float64
 28  V28     984 non-null    float64
 29  Amount  984 non-null    float64
 30  Class   984 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 246.0 KB

In [146]:
balanced_credict_card_dataset.Class.value_counts()

Class
0    492
1    492
Name: count, dtype: int64

### Making the the date to train and test
#### Now making the Features and Target

In [148]:
#seperating features and target
X=balanced_credict_card_dataset.drop('Class',axis=1)
Y=balanced_credict_card_dataset['Class']

In [149]:
X.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [150]:
Y

181993    0
76268     0
114357    0
132015    0
187890    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### splitting the data into training and testing samples

In [152]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [153]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [154]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984,) (787,) (197,)

### Logistic Regression

In [156]:
LogRegmodel=LogisticRegression()

In [157]:
#train the model
LogRegmodel.fit(X_train,Y_train)

C:\Users\victus\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Evaluate Model

In [159]:
#Evaluating model for train data
train_predictions=LogRegmodel.predict(X_train)
train_accuracy=accuracy_score(Y_train,train_predictions)
print("The model predicts {} % of train data accurately".format(np.round(train_accuracy*100,2)))

The model predicts 94.79 % of train data accurately

In [160]:
#Evaluating model for test data
test_predictions=LogRegmodel.predict(X_test)
test_accuracy=accuracy_score(Y_test,test_predictions)
print("The model predicts {} % of test data accurately".format(np.round(test_accuracy*100,2)))

The model predicts 93.4 % of test data accurately

### Conclusion
#### the accuracy of model for both train data and test data are mostly same so we can say our model is well fitted